/* fuentes */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap");
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirBlack.woff");
}
@font-face{
    font-family: "Cascadia Code PL";
    src: url("../fonts/CascadiaCodePL.ttf")
}

:root {
    --first-color: #A85E54;
    --second-color: #843126;
    --third-color: #2C9AA8;
    --fourth-color: #D6503E;
    --fifth-color: #65DBEB;
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Avenir", monospace, sans-serif; /* 'Playfair Display' */
    background-image: linear-gradient(to left, rgba(39, 57, 76, 1), rgba(39, 57, 76, 0.9));
    color: white;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: space-evenly;
    row-gap: 20px;
    
    .card {
        width: 200px;
        background-color: #29323C;
        border-radius: 10px;
        box-shadow: 0px 1px 10px black;
        transition: box-shadow 300ms ease-in;
        cursor: pointer;
        
        .card-body {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .card-title {
            text-align: center;
            color: white;
        }

        .card-image{
            & img {
                height: 300px;
              }
        }
    
        .card-synthesis-text{
            text-align: center;
        }
    }
}

/* media queries */

@media only screen and (min-width: 1195px) {
    /* header lateral */
    .header-lateral {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--first-color);
        width: 120px;
        height: 100%;
        color: #fff;
        padding: 20px;

        & ul {
            list-style: none;
            padding: 0;

            & li {
                margin-bottom: 10px;

                & a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }
            }
        }
    }
    
    body{
        margin-left: 200px;

    }
}
