/* fuentes */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirBlack.woff");
}

:root {
    --purple-color: #7d5fab;
    --blue-color: #29323c;
    --white-color: #f7f7f7;
}

body {
    margin: 0;
    font-family: "Avenir", monospace, sans-serif; /* 'Playfair Display' */
    background-image: linear-gradient(
        to left,
        rgba(39, 57, 76, 1),
        rgba(39, 57, 76, 0.9)
    );
    color: var(--white-color);
}

div.settings {
    background-color: var(--white-color);
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    & span {
        font-size: 0.7rem;
        color: black;
    }
    & select {
        background-color: var(--white-color);
        border: none;
    }
}

header {
    padding: 25px;
    background-image: url("../img/header-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;

    > div {
        margin-top: 220px;
    }

    & nav {
        position: sticky;
        top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: /* rgba(0, 10, 40, 0.7); */ black;
        padding: 10px 20px;
        z-index: 1;

        #logo-container{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        #search,
        #menu {
            height: 25px;
        }
        #image {
            height: 120px;
        }
        #text {
            display: none;
        }
    }

    .info {
        background-color: rgba(0, 10, 40, 0.7);
        max-width: 400px;
        position: sticky;
        left: 150px;
        font-family: "";
        padding: 20px 30px;
        height: light;
        display: flex;
        flex-direction: column;
        align-items: start;

        & button {
            font-size: 1.3rem;
            border: 0px;
            border-radius: 6px;
            background-color: var(--purple-color);
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 250px;
            height: 60px;

            &:hover {
                cursor: pointer;
                border: 2px solid var(--purple-color);
                background-color: transparent;
                transition: background-color 300ms ease-out;
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.card-group {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: space-evenly;
    row-gap: 20px;

    .card {
        width: 200px;
        background-color: var(--blue-color);
        border-radius: 10px;
        box-shadow: 0px 1px 10px black;
        transition: box-shadow 300ms ease-in;
        cursor: pointer;

        .card-body {
            font-family: "Poppins";
            font-weight: bold;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .card-title {
            text-align: center;
            color: white;
        }

        .card-image {
            & img {
                height: 300px;
            }
        }

        .card-synthesis-text {
            text-align: center;
        }

        &:hover {
            box-shadow: 0px 1px 10px var(--white-color);
        }
    }
}

/* media queries */

@media only screen and (min-width: 1195px) {
    header {
        height: 600px;
        transition: height 1000ms ease-in-out;

        & nav {
            display: grid;

            #menu {
                display: none;
            }
        }
    }
}

/* header lateral .header-lateral {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--purple-color);
    width: 120px;
    height: 100%;
    color: #fff;
    padding: 20px;

    & ul {
        list-style: none;
        padding: 0;

        & li {
            margin-bottom: 10px;

            & a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    color: black;
                }
            }
        }
    }
}

body {
    margin-left: 200px;
} */
