/* fuentes */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap");
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirBlack.woff");
}
@font-face{
    font-family: "Cascadia Code PL";
    src: url("../fonts/CascadiaCodePL.ttf")
}


:root {
    --first-color: #5f5dbd;
    --second-color: #5e87b8;
    --third-color: #83cee0;
    --fourth-color: #a4fbe3;
}

body {
    color: white;
    font-family: "Avenir", monospace, sans-serif; /* 'Playfair Display' */
    /* background-image: linear-gradient(to bottom, #434343 0%, black 100%); */
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    margin: 0;
    padding: 20px;
}

main {
    .card-group {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        align-items: center;
        
        .card {
            background-color: #29323c;
            border-radius: 10px;
            width: 300px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 1);
            cursor: pointer;

            .card-body {
                display: flex;
                flex-direction: column;
                margin: 20px;
            }

            /* .card-img-top {
                background-color: var(--third-color);
                border-bottom: 2px outset grey;
            } */

            .card-title {
                text-align: center;
                color: white;
                font-size: 2rem;
            }

            .card-synthesis-text{
                text-align: center;
            }

            /* .card-text {
                font-family: "Cascadia Code PL";
            }

            .card-specifics-text {
                font-family: "Cascadia Code PL";
                max-width: 50%;
                min-width: 20%;
            } */
        }
    }
}

/* media queries */

@media only screen and (min-width: 1195px) {
    /* header lateral */
    .header-lateral {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--first-color);
        width: 120px;
        height: 100%;
        color: #fff;
        padding: 20px;

        & ul {
            list-style: none;
            padding: 0;

            & li {
                margin-bottom: 10px;

                & a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }
            }
        }
    }
    
    body{
        margin-left: 200px;

    }
}
